// bower:scss
// endbower

@import "compass/reset";

$fonts: '../assets/fonts';

@font-face {
   font-family: fontname;
   src: $fonts;
}
body{
    font-family: fontname;
}

body {
    background-color: #ccc;
    // background: url('../assets/images/gx.jpg') no-repeat;
    color: #000;
}

/* inject:scss */
@import "main/main.scss";
@import "../components/footer/footer.scss";
/* endinject */